@charset "utf-8";


html {
  background-color:#555;
/*background-image:url('images/metal.jpg');*/
}
body {
  background-color:#555;
  padding-top: 0px;
  padding-bottom: 0px;
}
h1,h2{
  color: black;
  background-color:#555;
  background: linear-gradient(to bottom, #660d0b 10%, #dcdcdc 100%);
  font-family: Roboto;
  font-size: 3.5em;
  text-align: center;
  margin-left:650px;
  margin-right:650px;
  border: 5px outset rgb(153, 5, 0);

}
h3{
  background-image:url('images/cars5.jpg');
  background: linear-gradient(to bottom, #660d0b 10%, #dcdcdc 100%);
  text-align: center;
  margin-left:100px;
  margin-right:100px;
  background-color:#555;
  border: 5px outset rgb(153, 5, 0);
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*table styles*/
table.inventory {
  background: #dcdcdc;
  color: black;
  border: 10px outset rgb(153, 5, 0);
  font-size: 1.5em;
  width: 100%;
  padding: 50px;
  margin-bottom: 100px;
    margin-top: 50px;
  text-align: center;
font-family: Helvetica, sans-serif;
}

table.inventory th, table.inventory td {
  border: 1px solid grey;
}

table.inventory thead tr {
  height: 100px;
}

table.inventory tbody tr {
  height: 100px;
}

table.inventory {
  table {

    width:400px;
  }
  table,td{
    border: 1px solid#000;
    border-collapse:collapse;
  }
}






/* Style the navigation bar */
.navbar {
border: 5px outset rgb(153, 5, 0);
background-color: #555;
overflow: auto;
background: linear-gradient(to bottom, #660d0b 10%, #dcdcdc 100%);
}

/* Navbar links */
.navbar a {
border: 5px outset rgb(211, 211, 255);
 float: left;
 text-align: center;
 padding:15px;
 color: black;
 text-decoration: none;
 font-size: 25px;
font-family:grunge, Helvetica, sans-serif;

}

/* Navbar links on mouse-over */
.navbar a:hover {
 background-color: #B22222;
}
nav a {

font-family:grunge, Helvetica, sans-serif;

color:white;
}

nav a:link, nav:visited{
color:white;
text-decoration:none;
background-color: #8B0000;

}

nav a:hover,nav a:active{
color:  #555;
backround-color:white;
}

/* Current/active navbar link */
.active {
 background-color: #8B0000;
}
footer {
text-align: center;
background-color: #dcdcdc;
border: 5px outset rgb(153, 5, 0);
color: black;
font-size: 1.5em;
font-family: Helvetica, sans-serif;
padding-top: 20px;
padding-bottom: 20px;
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
